---
import { Icon } from "astro-icon/components";
---

<logo>
  <a href="/" aria-label="Go home" class="flex items-center gap-1">
    <Icon
      name="logo-svg-light-mode"
      width={60}
      height={60}
      class="dark:hidden block"
    />
    <Icon
      name="logo-svg-dark-mode"
      width={60}
      height={60}
      class="hidden dark:block"
    />
    <span class="uppercase font-geist-700 tracking-wide text-eerie-black dark:text-white-smoke text-lg">
      jordan<span class="text-pigment-green dark:text-dark-pastel-green">mingle</span>
    </span>
  </a>
</logo>
