---
import { SITE_TITLE } from "../constants";

const {
  title = "Tech walkthroughs and how to's",
  description = "A tech blog for people of the web.",
} = Astro.props;

interface Props {
  title?: string;
  description?: string;
}
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/android-chrome-192x192.png"
  />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#1a1a1a" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title} - {SITE_TITLE}</title>
  <meta name="description" content={description} />
</head>
